.menu{
    
}

.firstLevel{
    display: grid;
    grid-template-columns: 24px 1fr;
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.firstLevel:hover{
    color: var(--primary);
}
.firstLevelActive{
    color: var(--primary);
}

.firstLevelActive svg,
.firstLevel:hover svg{
    fill: var(--primary);
}

.secondLevel{
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--gray-dark);
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
}
.secondLevel:hover{
    color: var(--primary);
}
.secondBlock{
    margin-left: 12px;
    margin-top: 15px;
    padding-left: 32px;
    border-left: 1px solid #DFDFDF;
}
.secondLevelBlock{
    display: none;
}
.secondLevelBlockOpened{
    display: block;
    color: var(--primary);
}
.secondLevelBlockOpened:last-child{
    margin-bottom: 20px;
}

.thirdLevel{
    color: var(--gray-dark);
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 10px;
    cursor: pointer;
}

.thirdLevel:hover,
.thirdLevelActive{
    color: var(--primary);
}
